In [ ]:
"""
SQL db -> JSONs -> schema -> SQL gen1
                          -> NL-SQL parser -> SQL gen2
"""

"""

NoSQL db -> JSONs -> schema -> SQL gen1 -> NoSQL gen1
                            -> NL-SQL parser -> SQL gen2 -> NoSQL gen2

"""

In [ ]:
from test_cases import NoSQLTestCases, SQLTestCases

This package provides tools for converting natural language queries into SQL and NoSQL database queries
for retrieving results. It operates without the use of learnable parameters, neural networks, or embeddings,
focusing instead on rule-based natural language parsing.

Features:
1. Supports natural language descriptions of queries that involve combinations of:
   - `SELECT` statements
   - Table names
   - Column names
   - `WHERE`, `GROUP BY`, and `ORDER BY` clauses
   Column names can include aggregated operations such as `min`, `max`, `median`, `mean`, `stddev`, `variance`,
   `count`, and `distinct`.

2. Enforces rules for SQL queries:
   - When `WHERE`, `GROUP BY`, or `ORDER BY` clauses are used, the keywords **must appear** explicitly
     in their respective clauses.
   - Multi-word column names are enclosed in backticks (e.g., `` `column name` ``).
   - Aggregation parameters with multi-word descriptions are supported using formats like `minimum-of`,
     `standard-deviation`, etc.

3. Supports natural language queries with filler words (e.g., prepositions, stop words) between clauses or commands
   while ensuring syntactic correctness.

4. Ensures that table names appear only once in a query, whereas column names and aggregation operations
   may occur multiple times.

This package is ideal for scenarios requiring accurate, rule-based query generation without relying on
machine learning or embeddings.

[nltk_data] Error loading stopwords: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1002)>
/Users/pranu/Documents/Grad-Docs/Third Sem/FDM/ChatDB-new/.venv/lib/python3.11/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [4]:
tester = SQLTestCases(db_name="thrombosis_prediction")
cases = tester.t
_ = list(map(tester, cases))

####################################################################################################
NL Query :  From the examimation, what can you find as the average ANA for where Thrombosis = 1

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']

Reconstructed Query :  Examination find average ANA where Thrombosis = <number>
Parse Tree :  (S
  (TABLE Examination)
  (CMD find)
  (AGG (AVG average))
  (COLUMN (NOMCAT ANA))
  (CLAUSE
    where
    (COLUMN (NOMCAT Thrombosis))
    (NOP =)
    (VALUE <number>)
    (CLAUSE )))
SQL :  SELECT AVG(ANA) FROM Examination WHERE Thrombosis = 1
Results :  [(639.2452830188679,)]
####################################################################################################
NL Query :  According to examinations data, what can you get as the diagnosis to be used for where sympotms = 'AMI'

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']

Reconstructed Query :  Examination get Diagnosis where Symptoms = <string>
Parse Tree :  (S
  (TABLE Examination)
  (CMD get)
  (COLUMN (CAT Diagnosis))
  (CLAUSE
    where
    (COLUMN (CAT Symptoms))
    (NOP =)
    (VALUE <string>)
    (CLAUSE )))
SQL :  SELECT Diagnosis FROM Examination WHERE Symptoms = 'AMI'
Results :  [('MCTD, AMI',), ('SLE, RA',), ('SLE, AMI',)]
####################################################################################################
NL Query :  get me all the distinct symptoms found and their `ANA Pattern`, according to the examinations, where thrombosis = 3 grouping it by `ANA Pattern`

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']

Reconstructed Query :  get distinct Symptoms `ANA Pattern` Examination where Thrombosis = <number> group by `ANA Pattern`
Parse Tree :  (S
  (CMD get)
  (AGG (DISTINCT distinct))
  (COLUMN (CAT Symptoms) (COLUMN (CAT `ANA Pattern`)))
  (TABLE Examination)
  (CLAUSE
    where
    (COLUMN (NOMCAT Thrombosis))
    (NOP =)
    (VALUE <number>)
    (CLAUSE group by (COLUMN (CAT `ANA Pattern`)) (CLAUSE ))))
SQL :  SELECT DISTINCT(Symptoms), `ANA Pattern` FROM Examination WHERE Thrombosis = 3 GROUP BY `ANA Pattern`
Results :  [('thrombocytepenia', 'P'), ('thrombocytopenia', 'S'), ('thrombocytopenia', 'S,D')]
####################################################################################################
NL Query :  find me all the `examination dates` from the examination records for where `aCL IgM` > 10

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '>']

Reconstructed Query :  find `Examination Date` Examination where `aCL IgM` > <number>
Parse Tree :  (S
  (CMD find)
  (COLUMN (CAT `Examination Date`))
  (TABLE Examination)
  (CLAUSE
    where
    (COLUMN (NUM `aCL IgM`))
    (NOP >)
    (VALUE <number>)
    (CLAUSE )))
SQL :  SELECT `Examination Date` FROM Examination WHERE `aCL IgM` > 10
Results :  [('1995-04-24',), ('1996-03-18',), ('1998-02-02',)]
####################################################################################################
NL Query :  get me the maximum value for GOT, CRP from the laboratory records where GOT > 100 and group this by CRP.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '>']

Reconstructed Query :  get maximum GOT CRP Laboratory where GOT > <number> group by CRP
Parse Tree :  (S
  (CMD get)
  (AGG (MAX maximum))
  (COLUMN (NOMCAT GOT) (COLUMN (CAT CRP)))
  (TABLE Laboratory)
  (CLAUSE
    where
    (COLUMN (NOMCAT GOT))
    (NOP >)
    (VALUE <number>)
    (CLAUSE group by (COLUMN (CAT CRP)) (CLAUSE ))))
SQL :  SELECT MAX(GOT), CRP FROM Laboratory WHERE GOT > 100 GROUP BY CRP
Results :  [(21480, None), (1164, '+'), (1085, '-')]
####################################################################################################
NL Query :  Get the average of CPK where TG > 100 from Laboratory.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '>']

Reconstructed Query :  get average CPK where TG > <number> Laboratory
Parse Tree :  (S
  (CMD get)
  (AGG (AVG average))
  (COLUMN (NOMCAT CPK))
  (CLAUSE
    where
    (COLUMN (NOMCAT TG))
    (NOP >)
    (VALUE <number>)
    (CLAUSE ))
  (TABLE Laboratory))
SQL :  SELECT AVG(CPK) FROM Laboratory WHERE TG > 100
Results :  [(119.23266219239373,)]
####################################################################################################
NL Query :  Retrieve the average value of ALB where HGB > 12 from Laboratory.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '>']

Reconstructed Query :  retrieve average ALB where HGB > <number> Laboratory
Parse Tree :  (S
  (CMD retrieve)
  (AGG (AVG average))
  (COLUMN (NUM ALB))
  (CLAUSE
    where
    (COLUMN (NUM HGB))
    (NOP >)
    (VALUE <number>)
    (CLAUSE ))
  (TABLE Laboratory))
SQL :  SELECT AVG(ALB) FROM Laboratory WHERE HGB > 12
Results :  [(4.281120716270456,)]
####################################################################################################
NL Query :  Get the total count of RBC where T-BIL > 0.2 in Laboratory.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '>']

Reconstructed Query :  get count RBC where T-BIL > <number> Laboratory
Parse Tree :  (S
  (CMD get)
  (AGG (COUNT count))
  (COLUMN (NUM RBC))
  (CLAUSE
    where
    (COLUMN (NUM T-BIL))
    (NOP >)
    (VALUE <number>)
    (CLAUSE ))
  (TABLE Laboratory))
SQL :  SELECT COUNT(RBC) FROM Laboratory WHERE T-BIL > 0.2
[ERROR] no such column: T
Results :  []
####################################################################################################
NL Query :  Fetch the range of UA values where CRP = 2 in Laboratory.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']

Reconstructed Query :  fetch RA UA where CRP = <number> Laboratory
Parse Tree :  (S
  (CMD fetch)
  (COLUMN (CAT RA) (COLUMN (NUM UA)))
  (CLAUSE
    where
    (COLUMN (CAT CRP))
    (NOP =)
    (VALUE <number>)
    (CLAUSE ))
  (TABLE Laboratory))
SQL :  SELECT RA, UA FROM Laboratory WHERE CRP = 2
Results :  [('-', 7.0), (None, 8.3), (None, 6.6)]
####################################################################################################
NL Query :  Retrieve the minimum value of ALP where ALP > 15 in Laboratory.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '>']

Reconstructed Query :  retrieve minimum ALP where ALP > <number> Laboratory
Parse Tree :  (S
  (CMD retrieve)
  (AGG (MIN minimum))
  (COLUMN (NOMCAT ALP))
  (CLAUSE
    where
    (COLUMN (NOMCAT ALP))
    (NOP >)
    (VALUE <number>)
    (CLAUSE ))
  (TABLE Laboratory))
SQL :  SELECT MIN(ALP) FROM Laboratory WHERE ALP > 15
Results :  [(22,)]
####################################################################################################
NL Query :  From the patient records, where sex of person is = 'M' get me his bitrthday

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']

Reconstructed Query :  Patient where SEX = <string> get Birthday
Parse Tree :  (S
  (TABLE Patient)
  (CLAUSE
    where
    (COLUMN (CAT SEX))
    (NOP =)
    (VALUE <string>)
    (CLAUSE ))
  (CMD get)
  (COLUMN (CAT Birthday)))
SQL :  SELECT Birthday FROM Patient WHERE SEX = 'M'
Results :  [('1937-11-24',), ('1923-07-25',), ('1967-03-25',)]
####################################################################################################
NL Query :  Get me the id of patients where their `first date` is < '1985-10-01' and group this by diagnosis results.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '<']

Reconstructed Query :  get ID Patient where `First Date` < <string> group by Diagnosis
Parse Tree :  (S
  (CMD get)
  (COLUMN (NOMCAT ID))
  (TABLE Patient)
  (CLAUSE
    where
    (COLUMN (CAT `First Date`))
    (NOP <)
    (VALUE <string>)
    (CLAUSE group by (COLUMN (CAT Diagnosis)) (CLAUSE ))))
SQL :  SELECT ID FROM Patient WHERE `First Date` < '1985-10-01' GROUP BY Diagnosis
Results :  [(549080,), (1007813,), (1218725,)]
####################################################################################################
NL Query :  In the ecords, find diagnosis of patients grouped by their sex.
Reconstructed Query :  find Diagnosis Patient group by SEX
Parse Tree :  (S
  (CMD find)
  (COLUMN (CAT Diagnosis))
  (TABLE Patient)
  (CLAUSE group by (COLUMN (CAT SEX)) (CLAUSE )))
SQL :  SELECT Diagnosis FROM Patient GROUP BY SEX
Results :  [('SLE',), ('RA susp.',), ("Raynaud's phenomenon",)]

In [5]:
tester = NoSQLTestCases(db_name="california_schools")
cases = tester.t
_ = list(map(tester, cases))

####################################################################################################
NL Query :  Grab AvgScrMath from the satscores dataset where cds = '1100170000000'.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

Reconstructed Query :  grab AvgScrMath satscores where cds = <string>
Parse Tree :  (S
  (CMD grab)
  (COLUMN (NOMCAT AvgScrMath))
  (TABLE satscores)
  (CLAUSE
    where
    (COLUMN (CAT cds))
    (NOP =)
    (VALUE <string>)
    (CLAUSE )))
SQL :  SELECT AvgScrMath FROM satscores WHERE cds = '1100170000000'
NoSQL :  satscores.aggregate([{'$match': {'cds': {'$eq': '1100170000000'}}}, {'$project': {'AvgScrMath': 1}}])
Results :  [{'_id': ObjectId('67455a282a2b11d96a794ad9'), 'AvgScrMath': 418}]
####################################################################################################
NL Query :  Pick NumTstTakr out of satscores where cname = 'Alameda'.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

Reconstructed Query :  pick-out NumTstTakr satscores where cname = <string>
Parse Tree :  (S
  (CMD pick-out)
  (COLUMN (NOMCAT NumTstTakr))
  (TABLE satscores)
  (CLAUSE
    where
    (COLUMN (CAT cname))
    (NOP =)
    (VALUE <string>)
    (CLAUSE )))
SQL :  SELECT NumTstTakr FROM satscores WHERE cname = 'Alameda'
NoSQL :  satscores.aggregate([{'$match': {'cname': {'$eq': 'Alameda'}}}, {'$project': {'NumTstTakr': 1}}])
Results :  [{'_id': ObjectId('67455a282a2b11d96a794ad9'), 'NumTstTakr': 88}, {'_id': ObjectId('67455a282a2b11d96a794ada'), 'NumTstTakr': 17}, {'_id': ObjectId('67455a282a2b11d96a794adb'), 'NumTstTakr': 71}]
####################################################################################################
NL Query :  Get distinct cds values from satscores.
Reconstructed Query :  get distinct cds satscores
Parse Tree :  (S
  (CMD get)
  (AGG (DISTINCT distinct))
  (COLUMN (CAT cds))
  (CLAUSE )
  (TABLE satscores))
SQL :  SELECT DISTINCT(cds) FROM satscores
NoSQL :  satscores.aggregate([{'$group': {'_id': None, 'result': {'$addToSet': '$cds'}}}])

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '>']

Reconstructed Query :  retrieve unique rtype satscores where AvgScrRead > <number>
Parse Tree :  (S
  (CMD retrieve)
  (AGG (DISTINCT unique))
  (COLUMN (CAT rtype))
  (TABLE satscores)
  (CLAUSE
    where
    (COLUMN (NOMCAT AvgScrRead))
    (NOP >)
    (VALUE <number>)
    (CLAUSE )))
SQL :  SELECT DISTINCT(rtype) FROM satscores WHERE AvgScrRead > 500
NoSQL :  satscores.aggregate([{'$match': {'AvgScrRead': {'$gt': 500}}}, {'$group': {'_id': None, 'result': {'$addToSet': '$rtype'}}}])
Results :  [{'_id': None, 'result': ['S', 'D']}]
####################################################################################################
NL Query :  Pull out `School Name` from frpm where CDSCode = '01100170109835'.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

Reconstructed Query :  pull `School Name` frpm where CDSCode = <string>
Parse Tree :  (S
  (CMD pull)
  (COLUMN (CAT `School Name`))
  (TABLE frpm)
  (CLAUSE
    where
    (COLUMN (CAT CDSCode))
    (NOP =)
    (VALUE <string>)
    (CLAUSE )))
SQL :  SELECT `School Name` FROM frpm WHERE CDSCode = '01100170109835'
NoSQL :  frpm.aggregate([{'$match': {'CDSCode': {'$eq': '01100170109835'}}}, {'$project': {'School Name': 1}}])
Results :  [{'_id': ObjectId('67455a282a2b11d96a7923d7'), 'School Name': 'FAME Public Charter'}]
####################################################################################################
NL Query :  Extract `Percent (%) Eligible FRPM (Ages 5-17)` from frpm where `School Name` = 'Envision Academy for Arts & Technology'.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

Reconstructed Query :  extract `Percent (%) Eligible FRPM (Ages 5-17)` frpm where `School Name` = <string>
Parse Tree :  (S
  (CMD extract)
  (COLUMN (NUM `Percent (%) Eligible FRPM (Ages 5-17)`))
  (TABLE frpm)
  (CLAUSE
    where
    (COLUMN (CAT `School Name`))
    (NOP =)
    (VALUE <string>)
    (CLAUSE )))
SQL :  SELECT `Percent (%) Eligible FRPM (Ages 5-17)` FROM frpm WHERE `School Name` = 'Envision Academy for Arts '
NoSQL :  frpm.aggregate([{'$match': {'School Name': {'$eq': 'Envision Academy for Arts '}}}, {'$project': {'Percent (%) Eligible FRPM (Ages 5-17)': 1}}])
Results :  []
####################################################################################################
NL Query :  Fetch all distinct `Charter School Numbers` in frpm.
Reconstructed Query :  fetch distinct `Charter School Number` frpm
Parse Tree :  (S
  (CMD fetch)
  (AGG (DISTINCT distinct))
  (COLUMN (CAT `Charter School Number`))
  (CLAUSE )
  (TABLE frpm))
SQL :  SELECT DISTINCT(`Charter School Number`) FROM frpm
NoSQL :  frpm.aggregate([{'$group': {'_id': None, 'result': {'$addToSet': '$Charter School Number'}}}])
Results :  [{'_id': None, 'result': ['0370', '1037', '0341', '1225', '0309', '1184', '0556', '1654', '1402', '1611', '1217', '1032', '1603', '1280', '1151', '0028', '1597', '1099', '1179', '0976', '1410', '1578', '0213', '0460', '0121', '0152', '1012', '0165', '1550', '1014', '1590', '1283', '0740', '0870', '0867', '0089', '1463', '1592', '1203', '1496', '1352', '1638', '1429', '0530', '1231', '1435', '0258', '0414', '1531', '1275', '1695', '0612', '0259', '1276', '0635', '1238', '1354', '0351', '0452', '0349', '0680', '1657', '0765', '1256', '1552', '0671', '1401', '0288', '0122', '0509', '0423', '1284', '1338', '0683', '1143', '0833', '0081', '1506', '1166', '0350', '00D6', '0052', '1386', '1218', '0776', '1048', '0790', '0640', '1318', '0607', '1387', '1663', '1010', '1139', '0663', '0045', '0904', '0869', '1199', '0396', '1215', '0499', '1677', '1188', '1375', '1464', '0285', '1468', '1164', '0529', '1282', '0882', '0963', '0763', '0019', '0253', '1606', '1026', '1559', '0270', '1227', '1077', '1584', '1095', '1003', '1599', '1691', '1511', '1049', '0558', '1591', '0677', '0053', '1196', '0228', '0542', '0934', '0986', '0611', '0846', '1128', '0569', '1454', '0974', '0523', '1490', '0779', '0024', '0900', '1267', '0431', '0906', '1363', '1422', '1193', '1098', '1176', '0730', '1350', '1405', '1072', '1631', '0917', '0771', '1341', '0586', '1074', '1450', '1322', '1481', '0539', '0686', '0878', '1469', '0665', '0627', '0020', '0016', '0897', '0953', '0405', '1342', '0759', '1567', '0557', '1624', '0572', '0940', '0260', '1097', '0033', '0784', '1428', '0844', '1572', '0726', '0798', '0014', '1494', '0330', '0755', '0772', '0857', '0639', '0915', '1230', '1066', '0473', '1181', '1180', '1113', '0739', '0146', '1274', '0597', '1208', '0582', '00D5', '0327', '1253', '0811', '0655', '0251', '0638', '0464', '0283', '1360', '1416', '1064', '0225', '1071', '0812', '1192', '1610', '1433', '1004', '1535', '1173', '0292', '0931', '1259', '1617', '0760', '0792', '0654', '1525', '1000', '0881', '0606', '1417', '0787', '1349', '0510', '0567', '0398', '0659', '1125', '1498', '1394', '1482', '1261', '1320', '1353', '0991', '0172', '1612', '0021', '0920', '1551', '1126', '1621', '0809', '0570', '1313', '1504', '0636', '1291', '1236', '1329', '1334', '1626', '0684', '0961', '0793', '0140', '0802', '1079', '0331', '0217', '1633', '1198', '0840', '1607', '0250', '0856', '0958', '1576', '1163', '0599', '0613', '1027', '1655', '0135', '1114', '0543', '1700', '1680', '0780', '1347', '0475', '0516', '0526', '0710', '0711', '0142', '0127', '1580', '1640', '0257', '0032', '1078', '0676', '0093', '1491', '0368', '0094', '0817', '1286', '1310', '0489', '1063', '1539', '1600', '0363', '00D2', '0488', '0535', '0124', '1377', '1537', '0248', '0120', '0876', '0025', '0080', '1418', '0337', '1343', '1252', '1120', '0170', '1060', '0411', '0304', '1119', '1679', '0406', '1038', '1269', '0848', '0601', '1577', '1672', '0617', '0583', '0866', '0461', '1529', '0360', '0989', '1241', '0073', '1132', '1666', '0672', '1566', '1460', '1544', '0372', '0628', '1351', '1662', '00D7', '0275', '1646', '0502', '0333', '0469', '1109', '1470', '1219', '1121', '0518', '0490', '0230', '1029', '1514', '1519', '1321', '0696', '0223', '0822', '0796', '0859', '1456', '1189', '1507', '0178', '1618', '1549', '0791', '1106', '0957', '0649', '1295', '0335', '0278', '0575', '1515', '1486', '0040', '0658', '1365', '1160', '0527', '1285', '1214', '1044', '0949', '1692', '1373', '0393', '1406', '0850', '00D1', '1524', '1443', '0836', '1127', '1589', '1424', '0912', '0943', '0679', '1516', '1254', '1694', '0027', '0874', '1683', '0622', '1598', '1210', '0087', '1118', '1345', '0661', '1234', '1042', '0899', '1521', '0210', '0157', '0903', '0009', '1093', '1168', '1147', '1421', '0092', '1332', '0088', '1087', '1174', '1102', '0735', '1620', '1493', '0675', '0192', '0296', '0181', '0169', '1564', '1602', '0252', '0600', '1356', '0521', '1378', '1006', '1155', '0534', '1281', '1561', '1371', '0747', '0291', '0699', '1271', '1290', '1474', '0303', '0524', '1476', '0706', '1585', '0868', '1383', '0382', '0432', '1681', '0826', '0945', '0195', '0353', '0724', '0596', '0305', '1194', '0158', '0616', '1172', '1135', '1583', '1076', '0048', '1628', '0946', '0871', '0762', '0888', '1562', '1688', '0074', '0642', '1541', '1415', '0540', '0565', '1528', '1518', '1540', '1150', '1543', '1304', '1015', '0774', '0835', '0623', '1656', '0977', '1480', '1479', '0495', '1442', '0929', '0326', '1293', '1209', '0849', '0598', '1372', '0306', '1568', '0125', '0930', '1495', '1084', '1123', '1041', '1315', '1287', '0885', '1684', '0997', '0056', '0310', '0075', '1413', '1200', '1107', '0970', '0994', '1653', '0632', '0988', '1092', '1314', '1294', '0980', '0150', '0307', '0037', '0983', '0631', '1368', '1453', '1229', '0727', '1297', '1594', '0417', '1278', '0162', '0700', '1309', '0005', '1167', '1279', '0645', '0756', '0012', '1149', '0130', '0753', '0550', '0041', '0941', '1554', '1021', '0646', '1039', '1510', '1393', '0839', '1555', '1569', '1257', '0777', '0159', '1246', '1262', '1146', '1392', '0845', '1116', '1370', '0065', '1411', '1635', '1593', '1364', '1449', '0604', '1465', '0044', '1232', '0131', '0574', '1608', '0256', '0085', '0979', '0936', '1489', '0927', '1581', '0769', '0507', '0497', '0512', '1035', '0579', '1423', '0447', '1397', '0982', '0365', '0648', '0592', '1336', '1362', '1083', '0115', '1690', '0797', '0284', '0981', '1693', '0865', '0399', '0427', '1432', '0378', '1451', '0712', '1266', '0985', '0884', '0149', '0714', '1094', '1538', '1457', '0344', '1185', '0129', '1255', '0415', '1195', '1001', '0549', '0880', '0734', '1008', '0276', None, '0269', '1171', '0501', '1138', '1165', '0355', '0429', '1348', '1301', '0364', '0553', '0180', '0546', '0352', '1197', '1527', '0694', '0538', '1533', '0492', '1475', '1649', '0110', '1202', '1036', '1644', '1260', '1333', '1565', '0814', '1409', '0781', '1239', '1438', '0855', '0055', '0095', '0264', '0805', '0302', '1696', '1573', '1344', '1446', '1082', '1579', '1616', '0938', '0479', '1020', '1385', '1312', '0693', '0864', '0910', '0705', '0947', '0664', '0491', '0893', '0466', '0281', '0660', '0229', '1440', '0271', '0420', '0249', '1478', '0421', '1634', '1302', '1439', '0277', '1204', '1144', '1414', '0746', '0775', '0308', '1081', '1686', '0164', '1500', '1547', '1190', '1455', '0348', '1376', '0552', '1574', '00D8', '0439', '1595', '0106', '1503', '1296', '0030', '0117', '0690', '1031', '0356', '1034', '0261', '1452', '1645', '0525', '1408', '0799', '0506', '0905', '0788', '1458', '0483', '0477', '1586', '0566', '1492', '0717', '1609', '00D4', '1019', '1674', '1427', '1161', '1502', '1556', '1101', '1689', '1187', '0067', '1466', '1627', '1303', '1436', '0615', '1553', '1671', '1141', '0537', '0408', '1467', '0889', '0064', '1169', '0972', '1558', '1355', '0294', '0082', '0167', '0290', '1536', '0971', '0911', '1324', '0199', '0967', '0103', '1288', '0071', '1319', '0214', '0585', '1062', '0602', '0293', '0059', '0571', '0662', '0505', '0837', '1137', '0554', '0913', '0883', '0761', '1471', '1407', '0701', '0891', '0255', '1658', '1570', '0425', '1523', '1668', '0465', '0143', '1472', '1396', '1419', '1162', '1557', '1651', '1678', '0445', '0069', '0480', '0744', '0853', '0513', '1650', '1050', '1142', '1501', '1206', '1676', '1382', '1513', '0046', '0358', '0603', '0728', '0015', '0013', '1186', '0332', '0718', '1264', '0561', '0751', '1520', '0813', '1384', '0803', '0063', '0695', '0022', '0657', '0190', '1153', '0504', '1637', '0716', '0054', '1089', '0973', '0412', '1061', '1305', '1088', '1299', '1369', '1311', '1636', '0783', '0287', '0841', '0448', '1379', '0713', '0581', '0998', '0993', '1366', '0804', '1587', '0704', '1228', '0984', '0112', '0875', '1220', '1213', '1431', '0698', '1588', '0091', '1070', '0773', '00D9', '1235', '1226', '1664', '1201', '1441', '1156', '0419', '0173', '1619', '1632', '0226', '1445', '1067', '0481', '1091', '1639', '1096', '1412', '1670', '0827', '0801', '1273', '0887', '1068', '1330', '1237', '1367', '0842', '0681', '0395', '0807', '0215', '1316', '1447', '1308', '0729', '1575', '1660', '1346', '0362', '0373', '0619', '0862', '0079', '0823', '0560', '1622', '1560', '1563', '0104', '1327', '0847', '1122', '1182', '1512', '0789', '1335', '0357', '1268', '1030', '1289', '1488', '1395', '0463', '1483', '1233', '0267', '0907', '0914', '1526', '0018', '1057', '0741', '0289', '0990', '0829', '0078', '1444', '1175', '1115', '0687', '1400', '1080', '1023', '0098', '1687', '0265', '1571', '1058', '1508', '1178', '0438', '1258', '1086', '0001', '1542', '1216', '0634', '0778', '0838', '0890', '0588', '1212', '0722', '1477', '0109', '0366', '0909', '0340', '0031', '0987', '1641', '0886', '0731', '1437', '1300', '1183', '1249', '1484', '0551', '1306', '1028', '1105', '0578', '1647', '0720', '0937', '1487', '0446', '0531', '1473', '1075', '0066', '1339', '1024', '1331', '1623', '1652', '0767', '0166', '1448', '0227', '1177', '0723', '0141', '0402', '0050', '0928', '1380', '1292', '0948', '0413', '0522', '1545', '0653', '0329', '0650', '1426', '1398', '1459', '0898', '1661', '1582', '0493', '1007', '1517', '1532', '0388', '1085', '1485', '0247', '1170', '0968']}]
####################################################################################################
NL Query :  Grab distinct `School Type` from frpm where `Percent (%) Eligible Free (K-12)` > 0.5.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '>']

Reconstructed Query :  grab distinct `School Type` frpm where `Percent (%) Eligible Free (K-12)` > <number>
Parse Tree :  (S
  (CMD grab)
  (AGG (DISTINCT distinct))
  (COLUMN (CAT `School Type`))
  (TABLE frpm)
  (CLAUSE
    where
    (COLUMN (NUM `Percent (%) Eligible Free (K-12)`))
    (NOP >)
    (VALUE <number>)
    (CLAUSE )))
SQL :  SELECT DISTINCT(`School Type`) FROM frpm WHERE `Percent (%) Eligible Free (K-12)` > 0.5
NoSQL :  frpm.aggregate([{'$group': {'_id': None, 'result': {'$addToSet': '$School Type'}}}])
Results :  [{'_id': None, 'result': ['Juvenile Court Schools', 'District Community Day Schools', 'Opportunity Schools', 'Special Education Schools (Public)', 'Elementary Schools (Public)', 'Alternative Schools of Choice', 'Junior High Schools (Public)', 'Youth Authority Facilities', 'K-12 Schools (Public)', 'State Special Schools', 'High Schools (Public)', None, 'County Community', 'Continuation High Schools', 'Elemen Schools In 1 School Dist. (Public)', 'Preschool', 'Intermediate/Middle Schools (Public)', 'High Schools In 1 School Dist. (Public)']}]
####################################################################################################
NL Query :  Fetch AdmEmail1 from schools where CDSCode = '01100170000000'.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

Reconstructed Query :  fetch AdmEmail1 schools where CDSCode = <string>
Parse Tree :  (S
  (CMD fetch)
  (COLUMN (CAT AdmEmail1))
  (TABLE schools)
  (CLAUSE
    where
    (COLUMN (CAT CDSCode))
    (NOP =)
    (VALUE <string>)
    (CLAUSE )))
SQL :  SELECT AdmEmail1 FROM schools WHERE CDSCode = '01100170000000'
NoSQL :  schools.aggregate([{'$match': {'CDSCode': {'$eq': '01100170000000'}}}, {'$project': {'AdmEmail1': 1}}])
Results :  [{'_id': ObjectId('67455a282a2b11d96a7953b6'), 'AdmEmail1': 'lkmonroe@acoe.org'}]
####################################################################################################
NL Query :  Extract CharterNum from schools where Charter = 1.

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']

Reconstructed Query :  extract CharterNum schools where Charter = <number>
Parse Tree :  (S
  (CMD extract)
  (COLUMN (CAT CharterNum))
  (TABLE schools)
  (CLAUSE
    where
    (COLUMN (NOMCAT Charter))
    (NOP =)
    (VALUE <number>)
    (CLAUSE )))
SQL :  SELECT CharterNum FROM schools WHERE Charter = 1
NoSQL :  schools.aggregate([{'$match': {'Charter': {'$eq': 1}}}, {'$project': {'CharterNum': 1}}])
Results :  [{'_id': ObjectId('67455a282a2b11d96a7953b7'), 'CharterNum': '0728'}, {'_id': ObjectId('67455a282a2b11d96a7953b8'), 'CharterNum': '0811'}, {'_id': ObjectId('67455a282a2b11d96a7953b9'), 'CharterNum': '1049'}]
####################################################################################################
NL Query :  Select distinct District names from schools.
Reconstructed Query :  select distinct District EdOpsName schools
Parse Tree :  (S
  (CMD select)
  (AGG (DISTINCT distinct))
  (COLUMN (CAT District) (COLUMN (CAT EdOpsName)))
  (CLAUSE )
  (TABLE schools))
SQL :  SELECT DISTINCT(District), EdOpsName FROM schools
NoSQL :  schools.aggregate([{'$group': {'_id': None, 'result': {'$addToSet': '$District'}}}])

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '=']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

Reconstructed Query :  pull unique StatusType schools where State = <string>
Parse Tree :  (S
  (CMD pull)
  (AGG (DISTINCT unique))
  (COLUMN (CAT StatusType))
  (TABLE schools)
  (CLAUSE
    where
    (COLUMN (CAT State))
    (NOP =)
    (VALUE <string>)
    (CLAUSE )))
SQL :  SELECT DISTINCT(StatusType) FROM schools WHERE State = 'CA'
NoSQL :  schools.aggregate([{'$match': {'State': {'$eq': 'CA'}}}, {'$group': {'_id': None, 'result': {'$addToSet': '$StatusType'}}}])
Results :  [{'_id': None, 'result': ['Merged', 'Closed', 'Active', 'Pending']}]

In [6]:
print(tester.cfg)

    S -> CMD "*" TABLE CLAUSE | CMD COLUMN TABLE CLAUSE | CMD AGG COLUMN TABLE CLAUSE | CMD "*" CLAUSE TABLE | CMD COLUMN CLAUSE TABLE| CMD AGG COLUMN CLAUSE TABLE | CLAUSE CMD COLUMN TABLE | CLAUSE CMD AGG COLUMN TABLE | CLAUSE CMD COLUMN TABLE CLAUSE | CLAUSE CMD AGG COLUMN TABLE CLAUSE | TABLE CMD COLUMN CLAUSE | TABLE CMD AGG COLUMN CLAUSE | TABLE CLAUSE CMD COLUMN | TABLE CLAUSE CMD AGG COLUMN | TABLE CLAUSE CMD COLUMN CLAUSE | TABLE CLAUSE CMD AGG COLUMN CLAUSE | CLAUSE CMD COLUMN CLAUSE TABLE | CLAUSE CMD AGG COLUMN CLAUSE TABLE | CLAUSE TABLE CMD COLUMN | CLAUSE TABLE CMD AGG COLUMN | CLAUSE TABLE CMD COLUMN CLAUSE | CLAUSE TABLE CMD AGG COLUMN CLAUSE
    CLAUSE -> "where" COLUMN NOP VALUE CLAUSE | "group" "by" COLUMN CLAUSE | "order" "by" COLUMN CLAUSE
    CLAUSE ->
    COLUMN -> CAT COLUMN | NUM COLUMN | NOMCAT COLUMN | ORDCAT COLUMN | CAT AGG COLUMN | NUM AGG COLUMN | NOMCAT AGG COLUMN | ORDCAT AGG COLUMN
    COLUMN -> CAT | NUM | NOMCAT | ORDCAT
    CAT -> "_id" | "AdmEmail1" | "AdmEmail2" | "AdmEmail3" | "AdmFName1" | "AdmFName2" | "AdmFName3" | "AdmLName1" | "AdmLName2" | "AdmLName3" | "CDSCode" | "CharterNum" | "City" | "ClosedDate" | "County" | "DOC" | "DOCType" | "District" | "EILCode" | "EILName" | "EdOpsCode" | "EdOpsName" | "Ext" | "FundingType" | "GSoffered" | "GSserved" | "LastUpdate" | "MailCity" | "MailState" | "MailStrAbr" | "MailStreet" | "MailZip" | "NCESDist" | "NCESSchool" | "OpenDate" | "Phone" | "SOC" | "SOCType" | "School" | "State" | "StatusType" | "Street" | "StreetAbr" | "Virtual" | "Website" | "Zip"
    NUM -> "Latitude" | "Longitude"
    NOMCAT -> "Charter" | "Magnet"
    ORDCAT -> "<default>"
    CMD -> "elicit" | "extract" | "find" | "blue-ribbon" | "generate" | "ascertain" | "recover" | "pull-out" | "develop" | "selection" | "encounter" | "catch" | "distil" | "express" | "get" | "draw-in" | "infusion" | "fetch" | "obtain" | "acquire" | "receive" | "detect" | "evoke" | "take-out" | "grab" | "prime" | "take" | "seize" | "retrieve" | "choose" | "snatch" | "fine" | "snap" | "pick-out" | "bring-in" | "superior" | "take-hold-of" | "distill" | "draw" | "produce" | "bring" | "prize" | "convey" | "pull" | "pull-in" | "quality" | "snaffle" | "make" | "determine" | "choice" | "discover" | "attract" | "excerpt" | "select" | "snap-up"
    AGG -> SUM | MIN | MAX | MEDIAN | AVG | COUNT | VARIANCE | STDDEV | DISTINCT
    SUM -> "summing-up" | "rundown" | "plus" | "summation" | "addition"
    MIN -> "negligible" | "minimum" | "bottom" | "minimal" | "least" | "marginal" | "borderline" | "stripped" | "smallest" | "lowest" | "nominal"
    MAX -> "highest" | "uttermost" | "maximum" | "top" | "level-best" | "outside" | "supreme" | "largest" | "utmost" | "maximal" | "greatest"
    MEDIAN -> "medial" | "median" | "mesial" | "central" | "average"
    AVG -> "fair" | "norm" | "median" | "average" | "ordinary" | "normal" | "common" | "middling" | "intermediate" | "mean" | "modal"
    COUNT -> "number" | "reckoning" | "tally" | "enumerate" | "consider" | "counting" | "enumeration" | "numeration" | "count" | "matter" | "reckon"
    VARIANCE -> "variableness" | "variant" | "division" | "discrepancy" | "variation" | "disagreement" | "variance" | "divergence" | "variability"
    STDDEV -> "standard-deviation"
    DISTINCT -> "crystalline" | "unequalled" | "incomparable" | "uncomparable" | "definite" | "defined" | "alone" | "distinguishable" | "discrete" | "unusual" | "unique" | "distinct" | "trenchant" | "different" | "singular" | "unequaled" | "unparalleled" | "crisp" | "separate" | "decided"
    NOP -> ">" | "<" | ">=" | "<=" | "="
    TABLE -> "schools"
    VALUE -> "<number>" | "<string>"